<!-- 引入页脚 -->
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
	<footer class="page-footer" id="footer" style="background:#404a59">
		<div class="container">
		</div>
		<div class="footer-copyright">
			<div class="container">
				&copy; Made by <a class="orange-text text-lighten-3"
					th:utext="#{Footer.author}"></a>
			</div>
		</div>

	</footer>


	<!-- 	***************************** modal ************************************* -->
	<!-- Modal Structure index_modal_signout -->
	<div id="index_modal_signout" class="modal">
		<div class="modal-content">
			<h4>Sign out</h4>
			<p>Are you sure to sign out ?</p>
		</div>
		<div class="modal-footer">
			<form th:action="@{/user/logout}" method="post">
				<input
					class="modal-action modal-close waves-effect waves-green btn-flat"
					type="submit" value="Yes" />
			</form>
		</div>
	</div>
	<!-- Modal Structure index_modal_language -->
	<div id="index_modal_language" class="modal">
		<div class="modal-content">
			<h4 th:utext="#{Index.languageSettings}">Language Settings</h4>

			<div>
				<p>
					<input name="language" type="radio" id="Language1" value="chinese"
						class="with-gap" checked="true" /> <label for="Language1"
						th:utext="#{Index.language1}">Language1</label>
				</p>
				<p>
					<input name="language" type="radio" id="Language2" value="english" />
					<label for="Language2" th:utext="#{Index.language2}">Language2</label>
				</p>
			</div>
		</div>
		<div class="modal-footer">
			<a href="javascript:languageSettingOK()"
				class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
		</div>
	</div>
	<!-- Modal Structure index_modal_theme -->
	<div id="index_modal_theme" class="modal">
		<div class="modal-content">
			<h4 th:utext="#{Index.themeSettings}">Theme Settings</h4>

			<div>
				<p>
					<input name="theme" type="radio" id="theme1" value="green"
						class="with-gap" checked="true" /> <label for="theme1"
						th:utext="#{Index.theme1}">Theme1</label>
				</p>
				<p>
					<input name="theme" type="radio" id="theme2" value="purple" /> <label
						for="theme2" th:utext="#{Index.theme2}">Theme2</label>
				</p>
			</div>
		</div>
		<div class="modal-footer">
			<a href="javascript:themeSettingOK()"
				class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
		</div>
	</div>

</div>
</html>
